/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    width: 548px;
    margin: 24px auto 24px auto;
    background-color: rgb(28, 28, 28);
}

#root {
    background-color: rgba(255, 247, 237, 1);
}

/* ------------------------------- END GLOBAL ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             404 PAGE NOT FOUND                             */
/* -------------------------------------------------------------------------- */

.notfound--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 155px);
}

.notfound--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 24px;
}

.notfound--header {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: rgba(22, 22, 22, 1);
    text-align: center;
}

.notfound--link {
    width: 400px;
    height: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    background-color: #161616;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}

/* --------------------------------- END 404 -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   MAIN NAVBAR                                   */
/* -------------------------------------------------------------------------- */

.nav--container {
    padding: 24px 35px 24px 35px;
    background-color: rgba(255, 247, 237, 1);
}

.nav--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--brand {
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
    color: black;
}

.nav {
    padding: 0;
    margin: 0;
    display: flex;
}

.nav--items,
.nav--items>a {
    list-style: none;
    color: #4D4D4D;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    gap: 15px;
    transition: all 0.2s ease-in-out;
}

.nav--items>a:hover {
    color: #000000;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.active {
    color: #000000 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    transform: scale(1.1);
}

/* ------------------------------- END NAVBAR ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 HOST NAVBAR                                */
/* -------------------------------------------------------------------------- */

.host--nav {
    display: flex;
    gap: 29px;
    padding: 32px 0 45px 26px;
}

.host--nav-item {
    color: rgba(77, 77, 77, 1);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.host--nav-item:hover {
    color: #000000;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

/* ----------------------------- END HOST NAVBAR ---------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

.home--container {
    position: relative;
    height: calc(100vh - 155px);
}

.home--wrapper {
    height: 100%;
    background-image: url(src/assets/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 23px;
    color: white;
    max-width: 450px;
}

.home--title {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
}

.home--desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.home--btn {
    padding: 12px 24px 12px 24px;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
}

.home--btn:hover {
    background-color: #FFA500;
    transition: all 0.2s ease-in-out;
}

.home--btn:active {
    background-color: #FF8C38;
    transition: all 0.2s ease-in-out;
}

/* -------------------------------- END HOME -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    ABOUT                                   */
/* -------------------------------------------------------------------------- */

.about--body,
.about--footer {
    padding: 0px 35px 0px 35px;
    margin-bottom: 55px;
}

.about--body h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
    color: #161616;
}

.about--body p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 31px;
    color: #161616;
}

.about--footer {
    background-color: #FFCC8D;
    margin: 0 35px 45px 35px;
    padding: 35px 40px 35px 40px;
}

.about--footer h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #161616;
}

.about--footer button {
    padding: 12px 24px 12px 24px;
    background-color: #161616;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 25px;
}

.about--img {
    height: 223px;
}

.about--img img {
    width: 100%;
    height: 100%;
}


/* -------------------------------- END ABOUT ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

.footer--container {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: rgb(170, 170, 170);
    padding: 24px 0 24px 0;
}

.footer--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--text {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

/* ------------------------------- END FOOTER ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    VANS                                    */
/* -------------------------------------------------------------------------- */

.van--container {
    padding: 0 27px 0 27px;
    margin: 54px 0 83px 0;
}

.van--options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.van--options-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
}

.van--options-choices {
    display: flex;
    gap: 20px;
}

.van--options-choices button:nth-child(-n+3) {
    width: 104px;
    height: 37px;
    border: none;
    /* background-color: #FFEAD0; */
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
    /* text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.simple, .luxury, .rugged {
    background-color: #FFEAD0;
    color: #4d4d4d;
    transition: all 0.2s ease-in-out;
}

.simple:hover {
    background-color: #E17654;
    color: white;
    transition: all 0.2s ease-in-out;
}

.luxury:hover {
    background-color: #161616;
    color: #FFEAD0;
    transition: all 0.2s ease-in-out;
}

.rugged:hover {
    background-color: #115E59;
    color: white;
    transition: all 0.2s ease-in-out;
}

.van--options-choices button:last-child {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #4D4D4D;
    margin-left: 20px;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.van--list--container {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.van--item {
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    padding: 9px;
    text-decoration: none;
    color: black;
    margin-top: 26px;
    flex: 1;
}

.van--item:hover {
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    background-color: #5251512c;
}

.van--img-container {
    width: 229px;
    height: 229px;
    margin-right: auto;
    margin-left: auto;
}

.van--img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.van--info {
    position: relative;
    max-width: 228px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.van--name,
.van--rate {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.van--type {
    width: 85px;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFEAD0;
    background-color: #E17654;
    border-radius: 5px;
    text-align: center;
    margin-top: 3px;
    text-transform: capitalize;
}

.day {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #161616;
    top: 19px;
    right: 0;
}

/* -------------------------------- END VANS -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 VAN DETAILS                                */
/* -------------------------------------------------------------------------- */

.van--details-container {
    padding: 39px 26px 84px 26px;
}

.van--details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.van--details-img-container {
    width: 500px;
    height: 500px;
    padding: 40px 0 45px 0;
}

.van--details-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.van--details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.van--details-type {
    width: 85px;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFEAD0;
    background-color: #E17654;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}

.van--details-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin-top: 10px;
    color: #161616;
}

.van--details-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #161616;

}

.van--details-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.van--details-rent {
    margin-top: 10px;
    height: 50px;
    border: none;
    background-color: #FF8C38;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
}

.returntoVans {
    text-decoration: underline;
    color: #201F1D;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

/* ----------------------------- END VAN DETAILS ---------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    LOGIN                                   */
/* -------------------------------------------------------------------------- */

.login--container {
    padding: 51px 26px 75px 26px;
}

.login--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login--header {
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    color: #161616;
}

.login--form {
    margin: 48px 0 0 0;
}

.login--form input {
    width: 100%;
    height: 42px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px 6px 0px 0px;
    background: #ffffff;
    border: #E8EAED 1px solid;
}

.login--form input::placeholder {
    padding-left: 13px;
}

.login--btn {
    margin-top: 22px;
    width: 100%;
    height: 55px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    background: #FF8C38;
    cursor: pointer;
}

.login--btn::before {
    content: 'Sign In';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

/* -------------------------------- END LOGIN ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    HOST                                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  DASHBOARD                                 */
/* -------------------------------------------------------------------------- */

.dashboard--container {
    position: relative;
    width: 100%;
    height: 100%;
}

.dashboard--header {
    padding: 37px 0 37px 26px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: rgba(255, 234, 208, 1);
    height: 219px;
}

.header-title {
    color: rgba(22, 22, 22, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
}

.header-income {
    color: rgba(77, 77, 77, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.header-details {
    position: absolute;
    color: rgba(22, 22, 22, 1);
    transform: translate(850%, 245%);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.header-amount {
    color: rgba(22, 22, 22, 1);
    font-weight: 800;
    font-size: 40px;
    line-height: 38px;
}

.dashboard--review-score {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 25px;
    background-color: rgba(255, 221, 178, 1);
    height: 133px;
    margin-bottom: 38px;
}

.review-score-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
}

.review-score-rating {
    flex: 1;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.normal {
    color: rgba(77, 77, 77, 1);
}

#svg {
    position: absolute;
    fill: #FF8C38;
    left: 36.5%;
}

.review-score-details {
    color: rgba(22, 22, 22, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.dashboard--listed-vans {
    padding: 0 28px 53px 26px;
    display: flex;
    flex-direction: column;
}

.listed-vans-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.listed-vans-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
}

.listed-vans-option {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.listed-vans-item {
    position: relative;
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: start;
    background-color: white;
    gap: 17px;
    padding: 18px 0 18px 24px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.listed-vans-item--image {
    width: 65.88px;
    height: 65.88px;
    border-radius: 5px;
    background-color: black;
}

.listed-vans-item--van {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.listed-vans-item--price {
    position: absolute;
    top: 45%;
    left: 22%;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #4D4D4D;
}

.listed-vans-item--edit {
    position: absolute;
    top: 38%;
    left: 89%;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(22, 22, 22, 1);
}

/* ------------------------------ END DASHBOARD ----------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  HOST VAN                                  */
/* -------------------------------------------------------------------------- */

.hostVans--container {
    padding: 0 27px 32px 26px;
}

.hostVans--header {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
}

.hostVans--list {
    margin-top: 32px;
}

.hostVans--item {
    display: flex;
    gap: 17px;
    background-color: white;
    padding: 18px 0 18px 24px;
    margin-bottom: 15px;
}

.hostVans--item-image {
    width: 65.88px;
    height: 65.88px;
    background-color: black;
}

.hostVans--item-details {
    position: relative;
}

.hostVans--item-name {
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    top: 7px;
    line-height: 32px;
    color: rgba(22, 22, 22, 1);
    width: 350px;
}

.hostVans--item-price {
    position: absolute;
    font-weight: 500;
    top: 32px;
    font-size: 16px;
    line-height: 32px;
    color: rgba(77, 77, 77, 1);
    width: 350px;
}

/* ------------------------------ END HOST VAN ------------------------------ */

/* -------------------------------------------------------------------------- */
/*                              HOST VAN DETAILS                              */
/* -------------------------------------------------------------------------- */

.hostVanDetails--container {
    padding: 0 26px 45px 26px;
}

.hostVanDetails--header {
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: black;
}

.hostVanDetails--card-image-container {
    width: 160px;
    height: 157px;
    border-radius: 5px;
}

.hostVanDetails--card-image {
    width: 100%;
    border-radius: 5px;
}

.hostVanDetails--card {
    margin-top: 37px;
    padding: 23px 26px 26px 25px;
    display: flex;
    gap: 19px;
    width: 496px;
    height: 499px;
    background-color: white;
    height: 205px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.hostVanDetails--card-details {
    display: flex;
    flex-direction: column;
}

.hostVanDetails--van-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 27px;
    border-radius: 4.0716px;
    background-color: rgba(225, 118, 84, 1);
    font-weight: 600;
    font-size: 13px;
    line-height: 26px;
    color: rgba(255, 234, 208, 1);
    margin-bottom: 16px;
    margin-top: 22.5px;
    text-transform: capitalize;
}

.hostVanDetails--van-name {
    font-weight: 700;
    font-size: 26px;
    line-height: 27px;
}

.hostVanDetails--van-price {
    margin-top: 5px;
    font-size: 19px;
    line-height: 36px;
}

.hostVanDetails--nav-container {
    background-color: white;
    padding: 0 26px 26px 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.hostVanDetails--nav{
    display: flex;
    gap: 22px;
    margin-bottom: 27px;
}

.hostVanDetails--nav a {
    color: black;
    text-decoration: none;
}

.hostVanDetails--nav-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hostVanName, .hostVanType, .hostVanDesc, .hostVanVisibility {
    font-size: 14px;
    line-height: 21px;
}

.hostVanType {
    text-transform: capitalize;
}

.pricing--header {
    font-size: 24px;
    line-height: 24px;
}

.photos--wrapper {
    width: 103px;
    height: 101px;
}

.photos--wrapper img {
    width: 100%;
    border-radius: 5px;
}

/* -------------------------- END HOST VAN DETAILSX ------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  END HOST                                  */
/* -------------------------------------------------------------------------- */